header {
    background-color: rgb(0, 0, 139);
    color: white;
    text-align:center ;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px;
    font-size: 1.2em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}